node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth/
venv
.env
__pycache__/
*.png
*.jpg
*.jpeg
/__pycache__/
/report/
/reports/
/site/
.playwright
.playwright-mcp
.claude
.vscode